/*
   TEXT DECORATION
*/

.under  { text-decoration: underline; }
.over   { text-decoration: overline; }
.strike { text-decoration: line-through; }
.blink  { text-decoration: blink; }
.none   { text-decoration: none; }


@media screen and (min-width: 48em) {
  .under-s  { text-decoration: underline; }
  .over-s   { text-decoration: overline; }
  .strike-s { text-decoration: line-through; }
  .blink-s  { text-decoration: blink; }
  .none-s   { text-decoration: none; }
}

@media screen and (min-width:48em) and (max-width: 64em) {
  .under-m  { text-decoration: underline; }
  .over-m   { text-decoration: overline; }
  .strike-m { text-decoration: line-through; }
  .blink-m  { text-decoration: blink; }
  .none-m   { text-decoration: none; }
}

@media screen and (min-width: 64em) {
  .under-l  { text-decoration: underline; }
  .over-l   { text-decoration: overline; }
  .strike-l { text-decoration: line-through; }
  .blink-l  { text-decoration: blink; }
  .none-l   { text-decoration: none; }
}

